* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Login */

#login {
  text-align: right;
  position: relative;
  left: -8rem;
  padding-top: 2rem;
}
.login__btn a {
  color: #174242;
  margin: 0px 0.5rem;
  font-size: 0.85rem;
}

/* Navbar */

#navbar {
  padding: 2rem 8.5rem;
  padding-bottom: 3rem;
}
.logo {
  display: flex;
  position: relative;
  align-items: center;
}

.logo__title a {
  color: #041b29;
  font-size: 2.1rem;
}

.square__point {
  position: absolute;
  left: -1rem;
  font-size: 0.7rem;
}

.squareA {
  color: #011b28;
}
.squareB {
  color: #a89999;
}

.navbar__menu {
  display: flex;
  margin-left: 6rem;
}
.navbar__menu li {
  margin: 0rem 1.6rem;
}
.navbar__component a {
  color: #999799;
  font-size: 0.9rem;
}

#input__form {
  position: relative;
}

#input__form i {
  position: absolute;
  top: 0.16rem;
  right: 0rem;
  cursor: pointer;
  color: #ada9a9;
  font-size: 0.8rem;
}
#search__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ada9a9;
  color: #ada9a9;
  padding-bottom: 0.2rem;
  width: 12.5rem;
}

input::placeholder {
  color: #ada9a9;
}

.category {
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

/* Media Screen */

@media screen and (max-width: 768px) {
  /* Login */

  #login {
    position: static;
    width: 100%;
    padding: 1rem 0rem;
    color: #f8f8f8;
  }
  .login__btn a {
    font-size: 0.8rem;
  }
  /* Navbar */

  #navbar {
    padding: 0rem;
    padding-bottom: 50px;
  }
  .logo {
    flex-direction: column;
    color: #001928;
  }
  .logo__title a {
    font-size: 22px;
  }

  .square__point {
    left: 10rem;
    font-size: 0.5rem;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    margin: 0rem;
    text-align: center;
    padding-top: 3rem;
  }

  .navbar__component {
    line-height: 3rem;
    font-size: 0.9rem;
    font-weight: bold;
  }

  #input__form {
    display: none;
  }

  .category {
    position: absolute;
    top: 3.2rem;
    right: 0.5rem;
    font-size: 18px;
    display: block;
  }

  /* Show */

  .categoryShow {
    display: block;
  }
}
