/* MainBanner */

#main__banner {
  position: relative;
  height: 30rem;
  padding-top: 1.2rem;
}
#main__banner img {
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.main__title {
  position: absolute;
  top: 28%;
  right: 13%;
  text-align: right;
}
.main__title h1 {
  font-weight: 100;
  color: white;
  font-size: 3.5rem;
  text-shadow: 16px 16px 10px rgb(133, 124, 133);
}
.main__title h2 {
  font-weight: 100;
  font-size: 1rem;
  padding-top: 10px;
  color: white;
  opacity: 0.6;
  line-height: 1.8rem;
}
.more__btn {
  position: absolute;
  border: 1px solid white;
  background-color: white;
  color: #817e7e;
  cursor: pointer;
  text-align: center;
  top: 58%;
  right: 13%;
  width: 9rem;
  height: 2rem;
  border-radius: 1.5rem;
  line-height: 2rem;
  font-size: 0.9rem;
}

/* Event Furniture */

#event__furnture {
  padding-top: 6.25rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.event__left {
  flex-grow: 1;
  visibility: hidden;
  flex-basis: 35%;
  display: flex;
  justify-content: flex-end;
}

.event__right {
  flex-grow: 2;
  flex-basis: 70%;
  margin-left: 7rem;
}
.left__furnture {
  width: 20rem;
  height: 31rem;
  position: relative;
}
.event__left img {
  width: 100%;
  height: 100%;
}
.left__pricetag {
  padding-top: 10px;
  font-size: 13px;
}
.pricetag {
  display: flex;
  padding-top: 0.4rem;
  font-size: 0.9rem;
}
.recommendation__box__pricetag {
  padding-top: 0.4rem;
}

.sail__pricetag {
  text-decoration: line-through;
  margin: 0rem 0.5rem;
  color: #807f80;
}

.event__tag {
  position: absolute;
  top: -1rem;
  background-color: #302f35;
  padding: 0.5rem 1.1rem;
  color: white;
  font-size: 0.7rem;
}

.event__title {
  display: flex;
  justify-content: center;
  padding-bottom: 6.25rem;
  font-size: 0.9rem;
}

.left__title {
  padding: 1.5rem 0rem;
}

.right__title {
  background-color: #16222e;
  color: white;
  padding: 1.5rem 4rem 1.6rem 0rem;
}

.right__furnture {
  display: flex;
}

.right__furnture h2 {
  font-size: 1rem;
  padding: 0.1rem;
}

.event__right img {
  width: 95%;
  height: 100%;
  padding-bottom: 10px;
}
.right__furnitureF,
.right__furnitureS {
  position: relative;
  visibility: hidden;
  width: 380px;
  height: 220px;
  margin: 0rem 1.3rem;
}

/* Vertical Bar */
#vertical__bar {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.bar {
  border-left: 2px solid #707070;
  content: '';
  height: 1.5rem;
}

/* MD Recommendation */

.recommendation__title {
  text-align: center;
  color: #001928;
  padding-bottom: 4rem;
  font-size: 0.8rem;
}

.recommendation__conitainer {
  display: flex;
  justify-content: center;
}
.recommendation__box {
  width: 380px;
  height: 230px;
  margin: 0px 1.5rem;
}
.recommendation__box img {
  width: 100%;
  height: 100%;
}

.recommendation__box h1 {
  font-size: 1rem;
  padding-top: 0.5rem;
}

/* Advertising banner  */

.advertising__banner {
  padding-top: 8rem;
  text-align: center;
}

.banner img {
  width: 82%;
  height: 150px;
}

/* New Furniture */

#new__furniture {
  padding-top: 6.25rem;
  padding-left: 1.8rem;
}

.new__title {
  display: flex;
  padding-bottom: 6.25rem;
  padding-left: 7rem;
  font-size: 0.9rem;
}

.left__new {
  background-color: #16222e;
  color: white;
  padding: 25px 0px 25px 60px;
}
.right__new {
  padding: 1.5rem 0rem;
}

/* New Furniture */

.new__container {
  display: flex;
  justify-content: center;
  color: white;
}
.new__container h1 {
  font-size: 1rem;
}

.new__boxf h1 {
  font-size: 1.3rem;
}

.new__boxc {
  margin: 0rem 3.5rem;
}

.new__boxf img {
  width: 390px;
  height: 490px;
}

.top__box img {
  width: 370px;
  height: 230px;
}
.bottom__box img {
  width: 370px;
  height: 230px;
  padding-top: 1.5rem;
}
.new__boxs img {
  width: 360px;
  height: 490px;
}

.new__boxf,
.top__box,
.bottom__box,
.new__boxs {
  position: relative;
  visibility: hidden;
}
.new__pricetag {
  position: absolute;
  bottom: 1rem;
  left: 0.8rem;
}

.new__container .pricetag {
  color: rgb(248, 236, 236);
}

/* Footer */

#footer {
  height: 220px;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid #eeeeee;
  line-height: 2rem;
  margin-top: 7rem;
  background-color: #464a4e;
  color: #d9e3e9;
  font-weight: bold;
}
.team__name {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  color: #868e96;
}
.footer__description h1 {
  font-size: 1rem;
}
.footer__description p {
  font-size: 0.9rem;
  color: #868e96;
}

/* Show */

.event__show {
  animation: fade 500ms linear;
  visibility: visible;
}

/* keyFrame  */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Screen */

@media screen and (max-width: 768px) {
  /* MainBanner */
  #main__banner img {
    width: 100%;
    height: 65%;
  }

  .main__title {
    position: absolute;
    top: 18%;
    right: 10%;
    text-align: right;
  }
  .main__title h1 {
    color: #eeecee;
    font-size: 2rem;
  }

  .main__title h2 {
    font-size: 0.7rem;
    padding-top: 0.7rem;
    color: #6b8080;
    line-height: 1.2rem;
  }

  .more__btn {
    position: absolute;
    top: 37%;
    right: 10%;
    width: 6rem;
    height: 1.3rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
  }
  /* Event Furniture */

  #event__furnture {
    padding: 1.2rem;
    margin-top: -6.25rem;
  }

  .event__title {
    padding-bottom: 2rem;
    font-size: 0.8rem;
  }

  .left__title {
    padding: 1.1rem 0rem;
  }

  .right__title {
    padding: 1rem 4rem 1.6rem 0rem;
  }

  .right__furnture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .right__furnitureF,
  .right__furnitureS {
    margin: 3rem 0rem;
    width: 320px;
    height: 200px;
    visibility: visible;
  }

  .event__left {
    display: none;
  }

  .event__right {
    margin-left: 0rem;
  }

  /* verticalBar*/
  #vertical__bar {
    padding: 1.8rem;
  }
  /* MD Recommendation */

  .recommendation__title h1 {
    font-size: 1.3rem;
  }

  .recommendation__conitainer {
    flex-wrap: wrap;
    text-align: center;
  }
  .recommendation__box {
    margin: 2rem 0rem;
  }
  .recommendation__box h1,
  .recommendation__box p,
  .recommendation__box__pricetag {
    text-align: left;
    padding: 0.7rem 0rem 0rem 2rem;
  }

  .recommendation__box img {
    width: 320px;
    height: 210px;
  }
  /* Advertising Banner */
  .advertising__banner {
    padding-top: 50px;
  }

  .banner img {
    width: 100%;
    height: 100px;
  }

  /* New Furniture  */

  #new__furniture {
    padding-left: 0px;
  }

  .new__title {
    padding-bottom: 30px;
    font-size: 13px;
    justify-content: center;
    padding-left: 0px;
  }
  .left__new {
    padding: 18px 0px 18px 60px;
  }
  .right__new {
    padding: 18px 0px;
  }

  .new__container {
    flex-wrap: wrap;
  }
  .new__container img {
    width: 320px;
    height: 210px;
    padding: 30px 0px;
  }
  .new__pricetag {
    bottom: 50px;
  }

  /* Footer */

  #footer {
    line-height: 28px;
  }
  .team__name {
    font-size: 13px;
  }
  .footer__description h1 {
    font-size: 14px;
  }
  .footer__description p {
    font-size: 13px;
    color: #868e96;
    padding-top: 10px;
  }

  .new__boxf,
  .top__box,
  .bottom__box,
  .new__boxs {
    visibility: visible;
  }
}
